[user]
	name = Joel Hermanns
	email = joel.hermanns@gmail.com
[alias]
	co = checkout
    cm = commit
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    st = status
[core]
	editor = vim
[credential]
	helper = osxkeychain
